@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --accent-color: #000;
    --border-width: 3px;
    --ease-duration: .3s;
    --primary-color: #fff;
    --shadow-coordinate: 6px 6px;
    --space: 12px;
    font-family: 'IBM Plex Mono', monospace;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--space);
}

.box {
    background-color: var(--primary-color);
    border-color: var(--accent-color);
    border-style: solid;
    border-width: var(--border-width);
    box-shadow: var(--shadow-coordinate) var(--accent-color);
    padding: var(--space);
}

.btn {
    bottom: 0px;
    cursor: pointer;
    position: relative;
    right: 0px;
    transition-duration: var(--ease-duration);
    transition-property: bottom, right, box-shadow;
    transition-timing-function: ease;
}
.btn:hover {
    bottom: calc(var(--space) / 2 * -1);
    box-shadow: 0px 0px var(--accent-color);
    right: calc(var(--space) / 2 * -1);
}